@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont.eot');
    src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont.eot');
    src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html,
body {
    font-family: 'robotoregular';
    background-color: #e5e9ec;
    margin-bottom: 30px;
}
h1,
h2 {
    margin-bottom: 1em;
    font-family: 'robotolight';
    letter-spacing: -2px;
}
h3 {
    font-size: 1.5em;
}
.h4 {
    font-size: 1.3em;
}
h5 {
    font-size: 1.1em;
}
.app-header-wrapper {
    background-color: #000;
}
.app-header,
.app-content {
    width: 90%;
    margin: 0 auto;
}
.app-header {
    height: 60px;
    padding-top: 19px;
}
.main-menu {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.main-menu li {
    float: left;
    margin-right: 25px;
}
.main-menu li a {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}
.main-menu li a:hover,
.main-menu a.selected {
    color: #f35958;
    text-decoration: none;
}
.logo {
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: 0px 12px;
}
.content-box-type-one {
    padding: 20px;
}
.content-box-type-two {
    padding: 10px 20px 18px;
    font-size: 12px;
}

.content-box-type-two-dashboard {
    padding: 22px 20px 6px;
    font-size: 12px;
}

.content-box-type-two-popup {
    padding: 10px 20px;
    word-wrap: break-word;
    

}
.project-name {
    font-size:17px;
    margin-top : 24px;
}

.project-name-pending {
    font-size: 13px;
    font-family : robotolight;
}
.content-box-type-three {
    padding: 12px 30px;
}

.content-box-type-three-ash {
    padding: 12px 30px;
}
.content-box-type-three-ash:hover {
   background-color:#C0C0C0;
   cursor: pointer;
}

.top-boxes h3 {
    font-family: 'robotolight';
    margin: 0em 0em 1em 0em;
    color: #fff;
    font-size: 1.5em;
}
.mid-boxes {
    margin-top: 2em;
    color: #000;
}
.mid-boxes h3 {
    margin: 0em 0em 1em 0em;
    font-size: 1.2em;
    float: left;
    margin-right: 10px;
}
.iconed-nav {
    margin-top: 8px;
}
.iconed-nav i {
    color: #fff;
}
.iconed-nav a {
    color: #fff;
    font-family: 'robotolight';
}
.margin-zero {
    margin: 0px !important;
}
.blue-back {
    background-color: #0090d9;
}
.green-back {
    background-color: #07776d;
}
.dark-green-back {
    background-color: #07776d;
}

.black-back {
    background-color: #000000;
}
.purple-back {
    background-color:#BE81F7;
}

.red-back {
    background-color: #f35958;
}
.magenta-back {
    background-color: #736086;
}
.yellow-back {
    background-color: #fdd01c;
}
.white-back {
    background-color: #fff;
}
.dark-green-text {
    color: #07776d;
}
.black-text {
    color: #000000;
}
.red-text {
    color: #f35958;
}
.yellow-text {
    color: #fdd01c;
}
.title-type-one {
    background-color: #444;
    color: #fff;
}
.title-type-two {
     color: #fff;
     padding:6px 20px;
 }

 .title-type-two h3, .title-type-two h4{
     color: #fff;
     font-size: 1.2em;
 }

.title-type-one h4,
.title-type-one h3, .title-type-two h3, .title-type-two h4 {
      margin: 10px;
}

.title-type-one h4 {
      line-height: 26px;
}

.yellow-text {
    color: #fdd01c;
}
.red-text {
    color: #f35958;
}
.bold-text {
    font-family: 'robotobold';
}
.grid-title-white div {
    color: #fff;
    font-size: 22px;
}
/*.grid*/ 
.grid{
     border-bottom: 1px solid #d3d3d3;
}
.grid, .grid-type-two{
    border-bottom: 1px solid #d3d3d3;
}
.scorecard-tile {
    background-color: #fff;
    border-bottom: 1px solid #d3d3d3; 
}

#popup-trigger{
     cursor: pointer;
 }
 #popup-trigger:hover{
     background-color: #f1f1f1;
 }
 .grid-type-two .col{
     padding: 5px 4px;
 }

 .padding-zero{
     padding: 0px !important;
 }
 .large-text{
     font-size: 2em;
 }

.inverted-margin-container {
    padding-left: 15px;
    padding-right: 15px;
}
.font-adjuster {
    font-size: 1.12em !important;
}
.height-adjuster {
    height: 107px;
}

.height-adjuster-no-pending {
    height: 63px;
}
.status-text {
    margin: 6px 0px;
    font-size: 15px;
}

.status-text-dashboard {
    margin: 14px 3px;
    font-size: 15px;
    float: right;
    font-family: robotolight;
}

.status-text-boxes {
    margin: 14px 3px;
    font-size: 15px;
    float: right;
    font-family: robotolight;
}

.number-of-projects-text {
    font-size: 17px;
    letter-spacing : 0px;
}

.progress-bar-back,
.progress-bar-back div {
    height: 5px;
}
.progress-bar-back {
    background-color: #ebeef1;
    margin: 20px 0px;
}
.large-text {
    font-size: 2em;
}
.progress-bar {
    box-shadow: none;
}
.level-text-large {
    font-family: 'robotobold';
    font-size: 30px;
    float: left;
    margin-right: 4px;
    color: #fff;
}

.level-text-small {
    font-size: 15px;
    float: left;
    color: #fff;
    margin-top: 11px;
}

.level-text-small-project {
    font-size: 97%;
    float: right;
    color: #fff;
    margin-top: 11px;
    font-family: robotolight;
}

.level-text-small-pending {
    font-size: 97%;
    margin-left: -21px;
    color: #fff;
    margin-top: 10px;
    float: right;
    clear: right;
        font-family: robotolight;
}

@media (-webkit-min-device-pixel-ratio: 2) {
    .logo {
        background-image: url(../images/logo-retina.png);
        background-repeat: no-repeat;
        background-position: 0px 10px;
        background-size: 373px;
        
    }
}

/* Styles added by Kripa  */

/*.modal-popup{
   position: relative;
  z-index: 1050;
  width: auto;
  margin: 10px;
}*/

.modal-popup{
   position: absolute;
top:6%;
left:0%;

}

.modal-header{
    background-image: -webkit-linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
    background-image: -moz-linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
    background-image: -o-linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
    background-image: -ms-linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
    background-image: linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f9f9f9', EndColorStr='#e9e9e9');
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


@media screen and (min-width: 768px) {
    .modal-popup {
        width: 96%;
        margin: 3% 2%;
    }
    .modal-content {
        width:1090px;
        margin: 0 auto;
    }

      .modal-content-comment {
        width:935px;
        margin: 0 auto;
    }
}

.modal-content-comment {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  top: 237px;
}

.modal-body-comment {
  position: relative;
  padding: 20px;
  height: 349px;
}

.checkbox-inline{
    float: right;
}

.disabled-practise-div{
    pointer-events:none;
    opacity: 0.4;
}

.not-applicable-pracitises {
    text-decoration: line-through;
}

.disabled-div{
    pointer-events:none;
    opacity: 0.4;
}

.no-margin-top {
margin-top : 0px;
}

input[type="checkbox"].checkbox {
    display: none;
}

input[type="checkbox"].checkbox + label {
    display: inline;
    position: relative;
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad;
    
    /*label styling*/
    padding: 6px 0px;
    font-size: 11.844px;
    font-weight: lighter;
    line-height: 14px;
    
    vertical-align: baseline;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    float:left;
    width:5.0em;
    text-align:center;

    margin: 12px;
}

input[type="checkbox"].checkbox:checked + label {
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e;
}

input[type="checkbox"].checkbox:checked+label:after {
    content: 'Pending';
}

input[type="checkbox"].checkbox +label:after {
    content: 'Claim'; 
}

input[type="checkbox"].checkbox:disabled + label {
    opacity: 0.5;
}

#sub-area-actionlink {
    text-decoration: none;
}

.palered-back {
background-color:#FADBDB;
}

.paleyellow-back {
background-color:#F5F6CE;
}

.palegreen-back {
background-color:#97DF9C;
}

.l1-text{
     color: #f35958;
}

.l2-text{
    color: #fdd01c;
}

.l3-text{
     color: #07776d;
}

.grid-row-set-l1 > div{
     border-left:5px solid #f35958;
 }
 .grid-row-set-l2 > div{
     border-left:5px solid #fdd01c;
 }
.grid-row-set-l3 > div{
     border-left:5px solid #0aa699;
 }

btn-default-audit {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;

}

.btn-addcomment {
color: #333;
background-color: #fff;
border-color: #ccc;
font-size: 10px;
margin: 12px;
height: 26px;
}


.btn-default-audit:hover,
.btn-default-audit:focus,
.btn-default-audit:active,
.btn-default-audit.active,
.open .dropdown-toggle.btn-default-audit {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;

}

.btn-default-audit:active,
.open .dropdown-toggle.btn-default-audit {
  background-image: none;
}


.btn-default-audit .badge {
  color: #ffffff;
  background-color: #fff;
}


/*import projects page styles */ 
.list-type-one{
    margin:0;
    padding: 0;
}
.list-type-one li{
    list-style: none;
    padding: .7em 1.5em;
    border-bottom: 1px solid #d3d3d3;
}

.add-remove-projects button{
    margin-left: 1.5em; 
    float:right;
}
.add-remove-projects li:hover{
    background-color: #f1f1f1;
}
label {
    font-weight: inherit;
}

.content-box-admin {
    padding: 44px;
}

.member-add
{
    display: inline-block;
}

.member-add-width
{
    display: inline-block;
    width: 50%;
    margin-top: 12px;
}

/*import projects page styles ends */

.spinner {
    position : fixed !important;
    left : 50% !important;
    top : 50% !important;
}

.page-splash{
    position : absolute;
}

