<div class="app-header-wrapper">
    <div class="app-header logo">
        <ul class="main-menu pull-right">
            <li>
                <a class="selected" href="#/">Dashboard</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#/docs">Docs</a>
            </li>
            <li class="margin-zero">
                <a href="#/admin">Admin</a>
            </li>
        </ul>
    </div>
</div>

<!--nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
           
            <a href="#/" class="brand"><span class="brand-title">SPEC Maturity Model</span></a>

            
            <div class="nav-collapse collapse">

                <div class="pull-right navbar-logo">
                    <ul class="nav pull-right">
                        <li>
                            <a href="#/" target="_blank">
                                Dashboard
                            </a>
                        </li>
                        <li>
                            <a href="#/docs" target="_blank">
                                Docs
                            </a>
                        </li>
                        <li>
                            <a href="#/admin" target="_blank">
                                Admin
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav -->

