<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <!-- Menu button for smallar screens -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <!-- Site name for smallar screens -->
            <a href="#/" class="brand"><span class="brand-title">SPEC Maturity Model</span></a>

            <!-- Navigation starts -->
            <div class="nav-collapse collapse">

                <div class="pull-right navbar-logo">
                    <ul class="nav pull-right">
                        <li>
                            <a href="#/" target="_blank">
                                Dashboard
                            </a>
                        </li>
                        <li>
                            <a href="#/docs" target="_blank">
                                Docs
                            </a>
                        </li>
                        <li>
                            <a href="#/admin" target="_blank">
                                Admin
                            </a>
                        </li>
                        <li>
                            <a href="http://www.99xtechnology.lk" target="_blank">
                                <img src="./Content/images/99X-logo.png" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>