<div data-ng-controller="shell as vm">
    <header>
        <div data-ng-include="'./app/layout/topnav.html'"></div>
    </header>
    <section id="content">

        <div data-ng-show="vm.isBusy" class="page-splash dissolve-animation" style="margin-top:500px">
            <div data-cc-spinner="vm.spinnerOptions"></div>
            <div class="page-splash-message page-splash-message-subtle">{{vm.busyMessage}}</div>
        </div>

        <div data-ng-view class="shuffle-animation"></div>
    </section>
</div>
