<div data-ng-controller="topnav as vm">
    <div class="app-header-wrapper">
        <div class="app-header logo">
            <ul class="main-menu pull-right">
                <li>
                    <a  href="#/">Dashboard</a>
                </li>
                <li ng-switch on="isAdmin" class="margin-zero">
                    <div ng-switch-when="yes">
                        <a href="#/admin">Admin</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
