<!--<section class="mainbar" data-ng-controller="admin as vm">-->
<section id="admin-view" data-ng-controller="admin as vm">

    <div class="app-content">

        <div data-ng-show="vm.isBusy" class="page-splash dissolve-animation" style="margin-top:500px">
            <div data-cc-spinner="vm.spinnerOptions"></div>
            <div class="page-splash-message page-splash-message-subtle"></div>
        </div>

        <div ng-switch on="isAdmin">
            <div ng-switch-when="no">
                <h1>Access Denied</h1>
                <p>
                    You need to be logged in as an adminitrator to view this page
                </p>
            </div>

            <div ng-switch-when="yes">
                <h1 class="page-heading">Admin Dashboard</h1>

                <div class="row">
                    <div class="col-md-6">
                        <div class="title-type-two green-back">
                            <h4>Imported Projects</h4>
                        </div>
                        <div class="container-type-two white-back">
                            <ul class="list-type-one add-remove-projects" data-ng-repeat="project in allProjectsFromDatabase">
                                <li>
                                    {{project.Name}}
                                    <button type="button" class="btn btn-default btn-xs" id=enableDisableBtn{{project.Id}} ng-click="enableDisableProject(project)">{{project.enableDisableStatus}}</button>
                                </li>
                            </ul>
                        </div>
                        <br />

                        <!-- Add a manual project here -->
                        <div class="title-type-two blue-back">
                            <h4>Add a Manual Project</h4>
                        </div>
                        <div class="content-box-admin white-back">
                            <form role="form">
                                <div class="form-group">
                                    <label for="ProjectNameNew">Project Name:</label>
                                    <input type="text" class="form-control" id="ProjectNameNew" placeholder="Enter project name">
                                </div>
                                <div class="form-group">
                                    <label for="ProjectCodeNew">Project Code:</label>
                                    <input type="text" class="form-control" id="ProjectCodeNew" placeholder="Enter Project Code">
                                </div>

                                <div class="form-group">
                                    <label for="managmentRep">Add Management Rep:</label> 
                                    <input type="text" class="form-control" id="managmentRep" placeholder="Enter Management Rep">
                                </div>


                                <label>Add Project Members:</label> <button class="btn btn-default member-add" ng-click="addOneMoreProjectMember()">Add</button> <br />

                                <div id='TextBoxesGroup'>
                                    <div id="projectMemberDiv1">
                                        <input type="text" class="form-control member-add-width" id="projectMember1" placeholder="Enter name">
                                    </div>
                                </div>
                                <br />
                                <button ng-click="addProjectManuallyToDatabase()" class="btn btn-default" style="float: right;">
                                    Submit
                                </button>
                            </form>
                        </div>

                        <!-- Add Manual Project ends here -->

                    </div>

                    <div class="col-md-6">
                        <div class="title-type-two red-back">
                            <h4>All projects</h4>
                        </div>
                        <div class="container-type-two white-back">
                            <ul class="list-type-one add-remove-projects" data-ng-repeat="project in allProjectsFrom99XServiceAPI">
                                <li>
                                    {{project.name}}
                                    <button type="button" class="btn btn-default btn-xs" ng-click="importProjectToDb(project)">Import</button>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<link href="content/default-theme/css/main.css" rel="stylesheet">