<section data-ng-controller="allprojects as vm">

    <div class="app-content" id="appContent">
        <h1 class="page-heading">Projects from 99XT Project Service API</h1>



        <div class="top-boxes col-md-8">
            <div class="row">
                <div class="content-box-type-three red-back clearfix no-margin-top" style="margin-right: 15px;margin-left: 15px;">
                    <span class="level-text-small ng-binding no-margin-top">Projects existing in System</span>
                </div>
                <div class="col-md-3" data-ng-repeat="project in allProjectsFromDatabase">
                    <div class="content-box-type-three-ash scorecard-tile ng-scope">
                        <h4>{{project.Name}}</h4>
                        <button type="button" class="btn btn-primary" id=enableDisableBtn{{project.Id}} ng-click ="enableDisableProject(project)">Enable</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="top-boxes col-md-4">
            <div class="row">

                <div class="content-box-type-three red-back clearfix no-margin-top" style="margin-right: 15px;margin-left: 15px;">
                    <span class="level-text-small ng-binding no-margin-top">Import Projects From API</span>
                </div>
                <div class="col-md-4" data-ng-repeat="project in allProjectsFrom99XServiceAPI">
                    <div class="content-box-type-three-ash scorecard-tile ng-scope">
                        <h4>{{project.name}}</h4>
                        <button type="button" class="btn btn-primary" ng-click="importProjectToDb(project)">Import</button>
                    </div>
                </div>
            </div>
        </div>









    </div>
</section>