<section data-ng-controller="project as vm">

    <div class="app-content" id="appContent">

        <h1 class="page-heading">{{projectName}}</h1>

        <div data-ng-show="vm.isBusy" class="page-splash dissolve-animation" style="margin-top:500px">
            <div data-cc-spinner="vm.spinnerOptions"></div>
            <div class="page-splash-message page-splash-message-subtle"></div>
        </div>

        <div class="top-boxes">
            <div class="row">
                <div class="col-md-3" data-ng-repeat="area in areas">

                    <div class="content-box-type-three title-type-one">
                        <h4>{{area.fname}} <br /> {{area.lname}}</h4>
                    </div>
                    <div ng-switch on="area.hasPendings" id={{area.Name}}>

                        <div ng-switch-when="yes">
                            <div id={{area.Name}}>
                                <span class="level-text-large">L{{area.level}}</span>
                                <!--<span><br /></span>-->
                                <span class="level-text-small-project">Certified {{area.certificates}} of {{area.practices}} </span>
                                <div class="level-text-small-pending">({{area.pendings}} Pending) </div>
                            </div>
                        </div>
                        <div ng-switch-when="no">
                            <div id={{area.Name}}>
                                <span class="level-text-large">L{{area.level}}</span>
                                <!--<span><br /></span>-->
                                <span class="level-text-small-project">Certified {{area.certificates}} of {{area.practices}}</span>
                                <div class="height-adjuster-no-pending"></div>
                            </div>
                        </div>
                    </div>

                    <div class="content-box-type-three-ash scorecard-tile" id="popup-trigger" ng-cloak data-ng-repeat="subarea in area.SubAreas" ng-click="setPractisesArray(subarea.Practices, subarea.Name)">
                        <a id="sub-area-actionlink" data-target=" #myModal" data-toggle="modal">
                            <div>
                                {{subarea.Name}}
                                <div id={{subarea.Name}}>L{{subarea.level}}</div>

                                <div ng-switch on="subarea.hasPendings">
                                    <div ng-switch-when="no">
                                        <div class="status-text">Certified {{subarea.certificates}} of {{subarea.practices}}</div>
                                    </div>
                                    <div ng-switch-when="yes">
                                        <div class="status-text">Certified {{subarea.certificates}} of {{subarea.practices}} ({{subarea.pendings}} Pending)</div>
                                    </div>
                                </div>
                                <div class="progress-bar-back">
                                    <div id={{subarea.Id}}></div>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>


    </div>

    <!-- Modal popup -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-popup">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="cancelAnyClaimsAdded()" aria-hidden="true">&times;</button>
                    <div class="bold-text large-text" id="myModalLabel">{{subAreaName}}</div>
                </div>

                <div class="modal-body">


                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-11">
                            <div class="row">
                                <div class="col-md-6 blue-back padding-zero"><div class="title-type-two"><h4>Completed Practices  ( {{completedCount}} )</h4></div></div>
                                <div class="col-md-6 purple-back padding-zero"><div class="title-type-two"><h4>To Be Completed Practices  ( {{toBeCompletedCount}} )</h4></div></div>
                            </div>
                        </div>
                    </div>


                    <div class="row grid" ng-repeat="i in level_list">
                        <div class="col-md-1 l{{i+1}}-text large-text">L{{i+1}}</div>
                        <div class="col-md-11 grid-row-set-l{{i+1}}">
                            <div class="row grid-type-two">
                                <div ng-switch on="hasPractices[i]">
                                    <div ng-switch-when="no">
                                        <div class="col-md-12">
                                            <div class="content-box-type-two-popup">
                                                No Practices Available
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-switch-when="yes">
                                        <div class="col-md-6">
                                            <div class="col" ng-repeat="completed in completedPractises[i]">
                                                <div class="content-box-type-two-popup">
                                                   
                                                    <div>
                                                        {{completed.Code}} - {{completed.Description}}

                                                    </div>

                                                    <div ng-switch on="isMember">
                                                        <div ng-switch-when="yes" class="checkbox-inline bold-text">
                                                            <button type="button" id=addCommentBtn{{completed.Id}} class="btn btn-addcomment" data-toggle="modal" data-target="#commentCompletedModal{{completed.Id}}">
                                                                Comments
                                                            </button>
                                                        </div>
                                                    </div>
                                                    
                                                     
                                                    <div ng-switch on="isAuditor">
                                                        <div ng-switch-when="yes" class="checkbox-inline bold-text">
                                                            <button type="button" id="btn-reject{{completed.Id}}" class="btn btn-default-audit" ng-click="rejectClaim(completed)">Reject</button>
                                                            <button type="button" id=addCommentBtn{{completed.Id}} class="btn btn-addcomment disabled" data-toggle="modal" data-target="#commentCompletedModal{{completed.Id}}">
                                                                Comments
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Comment modal-->
                                                <div class="modal fade" id="commentCompletedModal{{completed.Id}}" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                                                    <div class="modal-popup">
                                                        <div class="modal-content-comment">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title" >{{completed.Code}} : Add a comment</h4>
                                                            </div>
                                                            <div class="modal-body-comment">
                                                                <div ng-switch on="isMember">
                                                                    <div ng-switch-when="yes" >
                                                                        <h4>Auditor Comments: </h4>
                                                                        {{completed.AuditorComment}}
                                                                        <hr />
                                                                        <h4>Comments from the Team: </h4>
                                                                        {{completed.TeamComment}}
                                                                    </div>
                                                                </div>

                                                                <div ng-switch on="isAuditor">
                                                                    <div ng-switch-when="yes">
                                                                        <h4>Comments from the Team: </h4>
                                                                            {{completed.TeamComment}}
                                                                        <hr />
                                                                        <h4>Auditor Comments: </h4>
                                                                        <textarea style="width:100%;height:63%;" id=text-auditor-complete-comment{{completed.Id}} tabindex="-1" placeholder="Write a comment" ng-click="preventClose($event)">{{completed.AuditorComment}}</textarea>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                            <div class="modal-footer">
                                                                <div ng-switch on="isMember">
                                                                    <div ng-switch-when="yes">
                                                                        <button type="button" class="btn btn-default" ng-click="closeCompletedCommentPopup(completed)">Save</button>
                                                                    </div>
                                                                </div>
                                                                <div ng-switch on="isAuditor">
                                                                    <div ng-switch-when="yes" class="checkbox-inline bold-text">
                                                                        <button type="button" class="btn btn-default" ng-click="closeCompletedCommentPopupAndTakeText(completed)">Save</button>
                                                                    </div>
                                                                </div>
                                                                       
                                                                    </div>
                                                                </div>
                                                            </div>
                                                </div>

                                            </div>

                                            <div class="content-box-type-two-popup not-applicable-pracitises" ng-repeat="notapplicable in notApplicableClaims[i]">
                                                {{notapplicable.Code}} - {{notapplicable.Description}}
                                                <div class="checkbox-inline bold-text">
                                                    <div ng-switch on="isAuditor">
                                                        <div ng-switch-when="yes" class="checkbox-inline bold-text">
                                                            <button type="button" id="btn-reject{{notapplicable.Id}}" class="btn btn-default-audit" ng-click="rejectClaim(notapplicable)">Undo</button>
                                                            <button type="button" id=addAuditorCommentBtn{{notapplicable.Id}} class="btn btn-auditor-addcomment disabled" data-toggle="modal" data-target="#notapplicablemodal{{notapplicable.Id}}">
                                                                Comments
                                                            </button>
                                                        </div>

                                                    </div>
                                                    <div ng-switch on="isMember">
                                                        <div ng-switch-when="yes">
                                                            <button type="button" id=addAuditorCommentBtn{{notapplicable.Id}} class="btn btn-auditor-addcomment" data-toggle="modal" data-target="#notapplicablemodal{{notapplicable.Id}}">
                                                                Comments
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="modal fade" id="notapplicablemodal{{notapplicable.Id}}" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                                                    <div class="modal-popup">
                                                        <div class="modal-content-comment">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="notapplicablemodal{{notapplicable.Id}}" aria-hidden="true"></button>
                                                                <h4 class="modal-title" id="basicModal">{{notapplicable.Code}} : Add a comment</h4>
                                                            </div>
                                                            <div class="modal-body-comment">

                                                                <div ng-switch on="isMember">
                                                                    <div ng-switch-when="yes">
                                                                        <h4>Comments from the Team: </h4>
                                                                        <div>
                                                                            {{notapplicable.TeamComment}}
                                                                        </div>
                                                                        <hr />
                                                                        <h4>Auditor Comments: </h4>
                                                                        {{notapplicable.AuditorComment}}

                                                                    </div>
                                                                </div>

                                                                <div ng-switch on="isAuditor">
                                                                    <div ng-switch-when="yes">
                                                                        <h4>Comments from the Team: </h4>
                                                                        <div>
                                                                            {{notapplicable.TeamComment}}
                                                                        </div>
                                                                        <hr />
                                                                        <h4>Auditor Comments: </h4>
                                                                        <textarea style="width:100%;height:63%;" id=text-auditor-notapplicable-comment{{notapplicable.Id}} tabindex="-1" placeholder="Write a comment" ng-click="preventClose($event)">{{notapplicable.AuditorComment}}</textarea>

                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" id=btn-auditor-comment{{notapplicable.Id}} class="btn btn-default" ng-click="closeNotApplicableCommentPopup(notapplicable)">Close</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="col">
                                                <div class="row" ng-repeat="pending in pendingPractises[i]">
                                                    <div class="content-box-type-two-popup">
                                                        {{pending.Code}} - {{pending.Description}}
                                                        <div class="checkbox-inline bold-text">
                                                            <div ng-switch on="isAuditor">
                                                                <div ng-switch-when="no" class="disabled-div">
                                                                    <input type="checkbox" class="checkbox" id=pendingCheckBox{{incomplete.Id}} checked>
                                                                    <label for=incompleteCheckBox{{incomplete.Id}}><span></span></label>
                                                                </div>
                                                                <div ng-switch-when="yes">
                                                                    <button type="button" id=btn-accept{{pending.Id}} class="btn btn-default-audit" ng-click="acceptClaim(pending)">Accept</button>

                                                                    <button type="button" id=btn-reject{{pending.Id}} class="btn btn-default-audit" ng-click="rejectClaim(pending)">Reject</button>

                                                                    <button type="button" id=addAuditorCommentBtn{{pending.Id}} class="btn btn-auditor-addcomment disabled" data-toggle="modal" data-target="#auditorCommentModal{{pending.Id}}">
                                                                        Comments
                                                                    </button>

                                                                    <button type="button" id=btn-notapplicable{{pending.Id}} class="btn btn-default-audit" ng-click="makeClaimNotApplicable(pending)">Not applicable</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Auditor Comment modal-->
                                                    <div class="modal fade" id="auditorCommentModal{{pending.Id}}" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                                                        <div class="modal-popup">
                                                            <div class="modal-content-comment">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="auditorCommentModal{{pending.Id}}" aria-hidden="true"></button>
                                                                    <h4 class="modal-title" id="basicModal">{{pending.Code}} : Add a comment</h4>
                                                                </div>
                                                                        <div class="modal-body-comment">
                                                                            <h4>Comments from the Team: </h4>
                                                                            <div>
                                                                                {{pending.TeamComment}}
                                                                            </div>
                                                                            <hr />
                                                                            <h4>Auditor Comments: </h4>
                                                                            <textarea style="width:100%;height:63%;" id=text-auditor-comment{{pending.Id}} tabindex="-1" placeholder="Write a comment" ng-click="preventClose($event)">{{pending.AuditorComment}}</textarea>
                                                                        </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" id=text-auditor-comment{{pending.Id}} class="btn btn-default" ng-click="closeAuditorCommentPopupAndTakeText(pending)">Save</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div id=IncompleteDiv{{incomplete.Id}} class="row" ng-repeat="incomplete in incompletedPractises[i]">
                                                    <div class="content-box-type-two-popup">
                                                        {{incomplete.Code}} - {{incomplete.Description}}
                                                        <div class="checkbox-inline bold-text">
                                                            <div ng-switch on="isMember">
                                                                <div ng-switch-when="no" class="disabled-div">
                                                                    <input type="checkbox" class="checkbox" id=incompleteCheckBox{{incomplete.Id}}>
                                                                    <label for=incompleteCheckBox{{incomplete.Id}}><span></span></label>
                                                                </div>
                                                                <div ng-switch-when="yes">
                                                                    <input type="checkbox" name="incompleteCheckboxes" class="checkbox" id=incompleteCheckBox{{incomplete.Id}} ng-click="createClaimRequest(incomplete)">
                                                                    <label for=incompleteCheckBox{{incomplete.Id}}><span></span></label>
                                                                    <button type="button" id=addCommentBtn{{incomplete.Id}} class="btn btn-addcomment disabled" data-toggle="modal" data-target="#commentModal{{incomplete.Id}}">
                                                                        Comments
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <!-- Comment modal-->
                                                    <div class="modal fade" id="commentModal{{incomplete.Id}}" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                                                        <div class="modal-popup">
                                                            <div class="modal-content-comment">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="commentModal{{incomplete.Id}}" aria-hidden="true"></button>
                                                                    <h4 class="modal-title" id="basicModal">{{incomplete.Code}} : Add a comment</h4>
                                                                </div>
                                                                <div class="modal-body-comment">
                                                                    <h4>Auditor Comments: </h4>
                                                                    {{incomplete.AuditorComment}}
                                                                    <hr />
                                                                    <h4>Comments from the Team: </h4>
                                                                        <textarea style="width:100%;height:63%;" id=text-member-comment{{incomplete.Id}} tabindex="-1" placeholder="Write a comment" ng-click="preventClose($event)">{{incomplete.TeamComment}}</textarea>
                                                                </div>

                                                                <div class="modal-footer">
                                                                    <button type="button" id=text-member-comment{{incomplete.Id}} class="btn btn-default" ng-click="closeCommentPopupAndTakeText(incomplete)">Save</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>



                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div ng-switch on="isMember">
                        <div ng-switch-when="yes">
                            <button type="button" class="btn btn-default" ng-click="cancelAnyClaimsAdded()">Close</button>
                            <button type="button" class="btn btn-primary" ng-click="saveAnyClaimsAdded()">Save changes</button>
                        </div>
                        <div ng-switch-when="no">
                            <div ng-switch on="isAuditor">
                                <div ng-switch-when="no">
                                    <button type="button" class="btn btn-default" ng-click="closeModalPopup()" data-dismiss="modal">Close</button>
                                </div>
                                <div ng-switch-when="yes">
                                    <button type="button" class="btn btn-default" ng-click="cancelAuditing()" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" ng-click="saveAudited()">Save changes</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- Modal popup end-->



</section>

<link href="content/site-base/css/bootstrap.min.css" rel="stylesheet">
<link href="content/default-theme/css/main.css" rel="stylesheet">
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="content/site-base/js/bootstrap.min.js"></script>
