<section data-ng-controller="project as vm">
    <div class="app-content">
        <h1 class="page-heading">{{projectName + vm.title}}</h1>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-popup">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <div class="bold-text large-text" id="myModalLabel">Modal title</div>
                    </div>
                    <div class="modal-body">
                        <div class="inverted-margin-container white-back">
                            <div class="row">
                                <div class="col-md-6" style="margin-left:5px;width:39%;">
                                    <div class="row grid dark-green-back" >
                                        <div class="grid-title-white">
                                            Completed Certifications (2)
                                        </div>
                                    </div>

                                    <div class="row grid">
                                        <div class="content-box-type-two">
                                            Certificate 1
                                        </div>
                                        </div>
                                        <div class="row grid">
                                            <div class="content-box-type-two">
                                                Certificate 2
                                            </div>
                                        </div>
                                </div>

                                <div class="col-md-6" style="margin-left:66px;width:44%;">
                                    <div class="row">
                                        <div class="blue-back  bold-text" style="padding: 10px;">
                                            To be Completed Certifications (3)
                                        </div>

                                        <div class="row grid">
                                            <div class="content-box-type-two">
                                                Certificate 3
                                                <div class="checkbox-inline bold-text" >
                                                    <input type="checkbox" id="inlineCheckbox1" value="option1" checked> Claim
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row grid">
                                            <div class="content-box-type-two">
                                                Certificate 4
                                                <div class="checkbox-inline bold-text">
                                                    <input type="checkbox" id="inlineCheckbox1" value="option1"> Claim
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row grid">
                                            <div class="content-box-type-two">
                                                Certificate 5
                                                <div class="checkbox-inline bold-text">
                                                    <input type="checkbox" id="inlineCheckbox1" value="option1"> Claim
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="inverted-margin-container white-back">
            <div class="row">
                <div class="col-md-3" style="margin-left:5px;width:24%;" data-ng-repeat="area in areas">
                    <div class="row dark-green-back">

                        <div class="row grid-title-white">
                            <div class="content-box-type-two">{{area.Name}}</div>
                        </div>

                    </div>

                    <div class="row grid blue-back">
                        <div class="content-box-type-one">
                            <div class="span2">
                                <h1>  L3 </h1>
                            </div>
                        </div>
                    </div>


                    <div class="row grid" data-ng-repeat="subarea in area.SubAreas">
                        <div class="content-box-type-one">
                            <a data-target="#myModal" data-toggle="modal">
                                <div class="bold-text large-text" data-target="#myModal">
                                    {{subarea.Name}}
                                </div>
                            </a>
                            <div class="status-text">Certified 23 of 25</div>
                            <div class="progress-bar-back">
                                <div class="progress-bar dark-green-back" style="width: 76.8%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
