<section id="dashboard-view" data-ng-controller="dashboard as vm">
    <div class="app-content">
        <h1 class="page-heading">Dashboard</h1>
        <div class="top-boxes">
            <div class="row">
                <div class="col-md-3">
                    <div class="content-box-type-one blue-back">
                        <h3>17 New Certifications</h3>
                        <div class="iconed-nav">
                            <i class="glyphicon glyphicon-file"></i>
                            <a href="#">Practices certified in 2014/Q1</a>
                        </div>
                        <div class="iconed-nav">
                            <i class="glyphicon glyphicon-file"></i>
                            <a href="#">View All</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="content-box-type-one green-back">
                        <h3>TEMPUS</h3>
                        <div class="iconed-nav">
                            <i class="glyphicon glyphicon-file"></i>
                            <a href="#">Overall Top Maturity Project</a>
                        </div>
                        <div class="iconed-nav">
                            <i class="glyphicon glyphicon-file"></i>
                            <a href="#">View All</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="content-box-type-one red-back">
                        <h3>ADRAMATCH</h3>
                        <div class="iconed-nav">
                            <i class="glyphicon glyphicon-file"></i>
                            <a href="#">Most ambitious plan 2014/Q1</a>
                        </div>
                        <div class="iconed-nav">
                            <i class="glyphicon glyphicon-file"></i>
                            <a href="#">View All</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="content-box-type-one margin-zero magenta-back">
                        <h3>17 New Certifications</h3>
                        <div class="iconed-nav">
                            <i class="glyphicon glyphicon-file"></i>
                            <a href="#">Overall most mature area</a>
                        </div>
                        <div class="iconed-nav">
                            <i class="glyphicon glyphicon-file"></i>
                            <a href="#">View All</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mid-boxes green-back content-box-type-one">
            <h3>Project Comparison</h3>
            |
            <span>{{projectlist.length}} projects</span>
        </div>
        <div class="inverted-margin-container white-back">
            <div class="row dark-green-back">
                <div class="col-md-2 grid-title-white">
                    <div class="content-box-type-two font-adjuster">Project Name</div>
                </div>
                <div class="col-md-10">
                    <div class="row grid-title-white">
                        <div class="col-md-3" data-ng-repeat="area in areas">
                            <div class="content-box-type-two">{{area.Name}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" data-ng-repeat="project in projectlist">
                <div class="col-md-2 grid">
                    <div class="content-box-type-two bold-text height-adjuster">{{project.Name}}</div>
                </div>
                <div class="col-md-10">
                    <div class="row grid">
                        <div class="col-md-3" data-ng-repeat="area in project.areas">
                            <div class="content-box-type-two">
                                <div class="dark-green-text bold-text large-text">L{{area.arealevel}}</div>
                                <div class="status-text">Certified {{area.areacertificates}} of {{area.areapractices}}</div>
                                <div class="progress-bar-back">
                                    <div class="progress-bar dark-green-back" style="width: 76.8%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
